@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ffd900;
}

a:hover, a:focus {
  color: #ff1f1f;
  text-decoration: none
}

.btn-dark:focus, .btn-dark.focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(33, 37, 41, 0.5);
  box-shadow: 0 0 0 .2rem rgba(33, 37, 41, 0.5)
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #212529;
  border-color: #212529
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show>.btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #0a0c0d;
  border-color: #050506
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show>.btn-dark.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(33, 37, 41, 0.5);
  box-shadow: 0 0 0 .2rem rgba(33, 37, 41, 0.5)
}

.btn-dark {
  color: #fff;
  background-color: #000;
  border-color: #000
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124
}

.btn-dark:focus, .btn-dark.focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5);
  box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5)
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show>.btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show>.btn-dark.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5);
  box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5)
}

.btn-unique {
  color: #212529;
  background-color: #fede59;
  border-color: #fede59;
  color: #fff
}

.btn-unique:hover {
  color: #fff;
  background-color: #ff5252;
  border-color: #ff5252
}

.btn-unique:focus, .btn-unique.focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(255, 107, 107, 0.5);
  box-shadow: 0 0 0 .2rem rgba(255, 107, 107, 0.5)
}

.btn-unique.disabled, .btn-unique:disabled {
  color: #212529;
  background-color: #fede59;
  border-color: #fede59
}

.btn-unique:not(:disabled):not(.disabled):active, .btn-unique:not(:disabled):not(.disabled).active, .show>.btn-unique.dropdown-toggle {
  color: #fff;
  background-color: #ff3838;
  border-color: #ff2b2b
}

.btn-unique:not(:disabled):not(.disabled):active:focus, .btn-unique:not(:disabled):not(.disabled).active:focus, .show>.btn-unique.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(255, 107, 107, 0.5);
  box-shadow: 0 0 0 .2rem rgba(255, 107, 107, 0.5)
}

.btn-unique:hover {
  color: #fff
}

.btn.btn-unique-outline {
  color: #fede59;
  background-color: transparent;
  background-image: none;
  border-color: #fede59
}

.btn.btn-unique-outline:hover {
  color: #212529;
  background-color: #fede59;
  border-color: #fede59
}

.btn.btn-unique-outline:focus, .btn.btn-unique-outline.focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(255, 107, 107, 0.5);
  box-shadow: 0 0 0 .2rem rgba(255, 107, 107, 0.5)
}

.btn.btn-unique-outline.disabled, .btn.btn-unique-outline:disabled {
  color: #fede59;
  background-color: transparent
}

.btn.btn-unique-outline:not(:disabled):not(.disabled):active, .btn.btn-unique-outline:not(:disabled):not(.disabled).active, .show>.btn.btn-unique-outline.dropdown-toggle {
  color: #212529;
  background-color: #fede59;
  border-color: #fede59
}

.btn.btn-unique-outline:not(:disabled):not(.disabled):active:focus, .btn.btn-unique-outline:not(:disabled):not(.disabled).active:focus, .show>.btn.btn-unique-outline.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(255, 107, 107, 0.5);
  box-shadow: 0 0 0 .2rem rgba(255, 107, 107, 0.5)
}

.btn-unique, .btn-unique-outline, .btn-dark {
  border-radius: 50px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin-bottom: 10px
}

.breadcrumb {
  background: none;
  margin: 50px 0 0;
  font-weight: 400;
  font-size: 0.8em;
  padding: 0
}

.text-content p, .text-content ul, .text-content ol {
  margin-bottom: 2rem
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hidden-md {
    display: none
  }
}

.home-page {
  background: #f6f6f6
}

section {
  padding: 100px 0
}

section.p-t-small {
  padding-top: 50px
}

section.p-b-small {
  padding-bottom: 50px
}

ul {
  padding: 0;
  margin: 0
}

i {
  display: inline-block
}

.heading-line::after {
  content: '';
  width: 30px;
  height: 1px;
  background: #fede59;
  margin: 5px 0 20px;
  display: block
}

.font-weight-light {
  font-weight: 300
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 20px !important
  }
}

div.top-bar {
  background: #000000;
  color: #fff;
  position: sticky;
}

div.top-bar a {
  padding: 10px 0
}

div.top-bar a {
  color: #fff;
  font-size: 0.8em;
  margin: 0 5px
}

div.top-bar a:hover, div.top-bar a:focus {
  text-decoration: none;
  color: #fede59
}

div.top-bar .dropdown-menu {
  padding: 10px;
  border-radius: 0
}

div.top-bar .dropdown-menu a {
  color: #333;
  margin: 0 !important;
  padding: 10px
}

section.hero {
  min-height: calc(100vh - 180px);
  padding-top: 40px;
  padding-bottom: 80px;
  background-image: linear-gradient(-18deg, #2657eb 0%, #000 100%);
  color: #fff;
  position: relative
}

section.hero::before {
  content: '';
  /* background: url(../img/hero-bg.jpg); */
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.05
}

section.hero h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1)
}

section.hero h1 {
  font-size: 4em;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2)
}

section.hero p {
  font-size: 1em;
  font-weight: 300;
  padding-right: 20px
}

section.hero strong {
  font-weight: bold
}

section.hero hr {
  border-color: #fff;
  max-width: 100px;
  margin: 30px 0
}

section.hero ul.props li {
  padding-left: 2px
}

section.hero ul.props li i {
  font-size: 0.8em;
  display: inline-block;
  margin-right: 10px
}

section.hero ul.price {
  margin-top: 50px
}

section.hero p.price {
  font-size: 1.1em;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 20px 10px 0
}

section.hero .owl-dots {
  display: block;
  right: 0;
  left: auto;
  position: absolute;
  bottom: 50%;
  margin: 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%)
}

section.hero .owl-dots .owl-dot {
  display: block;
  width: 10px;
  height: 10px;
  margin: 7px 0;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7
}

section.hero .owl-dots .owl-dot.active {
  opacity: 1
}

section.hero-2 {
  background: none;
  padding: 0 !important
}

section.hero-2::before {
  display: none
}

section.hero-2 .item {
  padding: 10px 0;
  min-height: calc(100vh - 50px);
  background-size: cover !important;
  background-position: center center !important;
  color: #fff
}

section.hero-2 h5 {
  font-family: "Playfair Display", serif !important;
  font-weight: 400;
  letter-spacing: 0.1em
}

section.hero-2 h1 {
  letter-spacing: 0.1em
}

section.hero-2 p {
  font-family: "Playfair Display", serif !important;
  font-style: italic;
  font-size: 1.2em;
  padding: 0 50px;
  margin-top: 20px
}

section.hero-2 .owl-nav {
  position: absolute;
  top: 50%;
  bottom: auto;
  width: 100%
}

section.hero-2 .owl-prev, section.hero-2 .owl-next {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #fede59;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 18px;
  position: absolute
}

section.hero-2 .owl-prev:hover, section.hero-2 .owl-next:hover {
  background: #fede59;
  color: #fff
}

section.hero-2 .owl-prev {
  left: 20px
}

section.hero-2 .owl-next {
  right: 20px
}

section.hero-2 .arrow {
  display: inline-block;
  position: relative;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin: 100px 0;
  font-size: 0.9em;
  letter-spacing: 0.2em;
  color: #fff
}

section.hero-2 .arrow::before, section.hero-2 .arrow::after {
  content: '';
  width: 70px;
  height: 1px;
  background: #fede59;
  display: block
}

section.hero-2 .arrow::before {
  position: absolute;
  top: 0;
  left: -20px
}

section.hero-2 .arrow::after {
  position: absolute;
  right: -20px;
  bottom: 0
}

section.hero-2 .arrow:hover, section.hero-2 .arrow:focus {
  text-decoration: none
}

@media (max-width: 800px) {
  section.hero {
    min-height: auto;
    font-size: 13px
  }
  section.hero .carousel-item {
    padding: 50px 0 !important
  }
}

section.categories {
  padding: 0;
  margin-top: -50px
}

section.categories .categories-inner {
  background: #fff;
  z-index: 10;
  padding: 30px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1)
}

section.categories a {
  text-decoration: none;
  color: #333
}

section.categories h2 {
  display: inline-block;
  font-size: 1.2rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  left: -64px
}

section.categories .item p {
  font-weight: 300;
  font-size: 0.9em;
  margin-bottom: 20px;
  color: #999
}

section.categories .item:nth-of-type(n+2) {
  border-left: 1px solid #eee
}

@media (max-width: 768px) {
  section.categories div[class*='col-'] {
    margin-bottom: 30px;
    border: none !important
  }
}

section.sale {
  padding: 80px 0 80px 0;
  background-image: linear-gradient(-18deg, #ffd900 0%, #000 100%);
  color: #fff
}

section.sale-2 {
  padding: 80px 0 0px 0;
  background-image: linear-gradient(-18deg, #000 0%, #ffd900 100%);
  color: #fff
}

section.sale .product {
  margin-bottom: -180px;
  text-align: right
}

section.sale .product-1-2 {
  margin-bottom: -180px;
  text-align: left
}

section.sale p {
  font-size: 1em;
  font-weight: 300
}

section.divider {
  background-image: linear-gradient(-18deg, #ffd900 0%, #000 100%);
  position: relative;
  color: #fff
}

section.divider::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  /* background: url(../img/divider-bg.jpg) fixed; */
  background-size: cover;
  background-position: center center;
  opacity: 0.2
}

section.divider .container {
  position: relative
}

section.divider h2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2)
}

section.divider p.h5 {
  font-weight: 300;
  font-family: "Roboto", sans-serif
}

section.divider hr {
  max-width: 100px;
  border-color: #fff;
  margin: 30px auto
}

section.divider p {
  font-weight: 300
}

.bootstrap-select {
  margin-bottom: 20px
}

footer.main-footer {
  background: #212529;
  color: #fff
}

footer.main-footer h3 {
  font-size: 1.2rem
}

footer.main-footer h3+ul {
  margin-top: 20px
}

footer.main-footer .page-links {
  padding: 50px 0
}

footer.main-footer .page-links a {
  padding-left: 15px;
  color: #999;
  margin: 1px 0;
  font-size: 0.9rem
}

footer.main-footer .page-links a:hover {
  color: #fede59;
  text-decoration: none
}

footer.main-footer .page-links a:hover:before {
  color: #fede59
}

footer.main-footer .page-links a:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 5px 0 -15px;
  color: #999
}

footer.main-footer .page-links .icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fede59;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fede59;
  margin-right: 10px;
  font-size: 18px
}

footer.main-footer .page-links .details li {
  margin-bottom: 30px
}

footer.main-footer .page-links .details li:last-of-type {
  margin-bottom: 0
}

footer.main-footer .page-links .details h3 {
  margin-bottom: 0
}

footer.main-footer .page-links .details p {
  color: #999;
  font-size: 0.9rem;
  margin-bottom: 0
}

footer.main-footer .copyrights {
  padding: 25px 0;
  background: #1a1d21
}

footer.main-footer .copyrights p {
  margin: 0;
  font-weight: 300;
  color: #888;
  font-size: 0.9rem
}

footer.main-footer .copyrights a {
  color: #fede59
}

@media (max-width: 991px) {
  footer.main-footer .page-links {
    padding-bottom: 70px
  }
  footer.main-footer .page-links div[class*='col-'] {
    margin-bottom: 30px
  }
}

@media (max-width: 768px) {
  footer.main-footer .copyrights div[class*='col-'] {
    text-align: center !important;
    margin-bottom: 10px
  }
}

nav.navbar {
  background: rgb(12, 12, 12);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 999;
  color: #fff;
}

nav.navbar i.fa-caret-down {
  padding: 0 5px;
  display: inline-block
}

nav.navbar .navbar-nav .nav-link {
  font-size: 0.9rem
}

nav.navbar .navbar-nav a {
  color: rgb(255, 255, 255);
  padding: 15px 0
}

nav.navbar .navbar-nav a:hover {
  color: #ffd900
}

nav.navbar .navbar-nav .active .dropdown-menu a {
  color: #6c757d
}

nav.navbar .navbar-nav .active a {
  color: #fede59
}

nav.navbar .navbar-nav ul li a {
  padding-right: 0 !important;
  margin: 0
}

nav.navbar .navbar-nav ul li .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%
}

nav.navbar .navbar-nav ul li .icon.search {
  border: 1px solid #333
}

nav.navbar .navbar-nav ul li .icon.cart {
  color: #fff;
  background: #ffd900;
  display: inline-block;
  margin-right: 10px
}

nav.navbar .navbar-nav ul li .icon.cart {
  -webkit-transform: translateY(3px);
  transform: translateY(3px)
}

nav.navbar .navbar-nav span.no {
  margin-right: 5px
}

nav.navbar .dropdown-menu {
  border-radius: 0;
  padding: 0;
  border-top: 2px solid #fede59;
  margin-top: 17px;
  font-size: 0.85em
}

nav.navbar .dropdown-menu a {
  padding: 8px 10px;
  color: #495057;
  font-size: .8rem
}

nav.navbar .dropdown-menu a:active {
  background-color: #e9ecef
}

nav.navbar button.navbar-toggler {
  font-size: 1em;
  padding: 10px 0;
  height: 40px;
  outline: none;
  text-transform: uppercase;
  right: 0
}

nav.navbar .megamenu {
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 8px !important;
  right: 0;
  z-index: 9999
}

nav.navbar .megamenu ul {
  padding: 0;
  margin-bottom: 20px;
  font-size: 0.9em
}

nav.navbar .megamenu ul a {
  padding: 5px 0 !important;
  text-decoration: none;
  color: #555
}

nav.navbar .megamenu ul a:hover {
  background: none;
  color: #fede59
}

@media (max-width: 580px) {
  nav.navbar button.navbar-toggler {
    color: #ffd900;
    right: 1rem
  }
  nav.navbar .navbar-nav .dropdown-menu {
    border-top: none
  }
}

.navbar {
  padding: .5rem 1rem;
  color: #fff;
  background-color: black;
}

.navbar-brand {
  display: inline-block;
  padding-top: .1125rem;
  padding-bottom: .1125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}

.navbar-brand img {
  width: 150px;
  height: 70px;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: .25rem
}

/* Navbar ends here */

.img-fluid {
  /* // Part 1: Set a maximum relative to the parent */
  max-width: 100%;
  /* // Part 2: Override the height to auto, otherwise images will be stretched
  // when setting a width and height attribute on the img element. */
  height: 300px;
}

@media (max-width: 991.98px) {
  .navbar {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
  }
  nav.navbar .navbar-nav .dropdown-menu {
    margin-top: 0;
    border: none !important
  }
  .fixed-top .navbar-collapse {
    max-height: 80vh;
    overflow-y: auto
  }
}

section.products a.item-name, section.related-items a.item-name {
  color: #333
}

section.products a.item-name:hover, section.related-items a.item-name:hover, section.products a.item-name:focus, section.related-items a.item-name:focus {
  color: #fede59;
  text-decoration: none
}

section.products .filters div[class*="col-"], section.related-items .filters div[class*="col-"] {
  padding: 0;
  text-align: right
}

section.products select, section.related-items select {
  color: #333;
  border-radius: 50px;
  font-size: 0.8em;
  margin-left: 10px;
  width: auto;
  display: inline-block;
  margin-bottom: 10px
}

section.products .item, section.related-items .item {
  position: relative;
  margin-bottom: 2rem
}

section.products .item ul.rate, section.related-items .item ul.rate {
  font-size: 0.7em;
  margin: 15px
}

section.products .item ul.rate li, section.related-items .item ul.rate li {
  padding: 0;
  margin: 0
}

section.products .item h4, section.related-items .item h4 {
  font-size: 1rem
}

section.products .item p, section.related-items .item p {
  color: #777;
  font-size: 0.85em;
  font-weight: 300
}

section.products .item .product-image, section.related-items .item .product-image {
  position: relative;
  padding-top: 30px;
  height: 300px
}

.product-image img {
  height: 250px;
  vertical-align: middle;
  border-style: none;
}

section.products .item .product-image:hover .overlay, section.related-items .item .product-image:hover .overlay {
  opacity: 1
}

section.products .item .badge, section.related-items .item .badge {
  position: absolute;
  top: 0;
  left: 10px;
  font-weight: 400
}

section.products .item ul.price span, section.related-items .item ul.price span {
  font-size: 0.95em
}

section.products .item ul.price span.price-old, section.related-items .item ul.price span.price-old {
  text-decoration: line-through;
  color: #aaa
}

section.products .item .overlay, section.related-items .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding-top: 100px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.4s;
  transition: all 0.4s
}

section.products .item .overlay a.wishlist, section.related-items .item .overlay a.wishlist {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #333;
  text-align: center;
  position: absolute;
  top: 0;
  right: 10px;
  border-radius: 50%;
  line-height: 28px;
  border: 1px solid #ddd;
  font-size: 13px
}

section.products .item .overlay a.wishlist:hover, section.related-items .item .overlay a.wishlist:hover {
  background: #fede59;
  color: #fff;
  border-color: #fede59
}

.pagination-custom nav {
  width: 100%
}

.pagination-custom ul.pagination {
  width: 100%
}

.pagination-custom ul.pagination li a {
  border-radius: 50px !important;
  padding: 5px 20px;
  color: #333
}

.pagination-custom ul.pagination li a:hover {
  color: #fff
}

.pagination-custom ul.pages li a {
  border-radius: 4px !important;
  padding: 5px 10px;
  font-size: 0.8em
}

@media (max-width: 768px) {
  section.products h1, section.related-items h1 {
    text-align: center
  }
  section.products h1::after, section.related-items h1::after {
    margin: 5px auto
  }
  section.products .filters, section.related-items .filters {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 20px
  }
}

section.item-details .item img {
  height: 580px;
  margin: 0 auto
}

section.item-details .owl-thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px
}

section.item-details button.owl-thumb-item {
  width: 60px;
  height: 50px;
  overflow: hidden;
  opacity: 0.2;
  border: none;
  background: none;
  outline: none;
  margin: 0 5px;
  cursor: pointer
}

section.item-details button.owl-thumb-item.active {
  opacity: 1
}

section.item-details button.owl-thumb-item img {
  width: 100%
}

section.item-details .price {
  margin-top: 20px;
  font-size: 1.4em;
  font-weight: 300
}

section.item-details .price .rate {
  margin-right: 20px;
  font-size: 0.65em
}

section.item-details .price li {
  padding: 0;
  margin: 0
}

section.item-details .price span {
  color: #999;
  font-size: 0.6em;
  text-transform: uppercase;
  line-height: 23px
}

section.item-details .model {
  margin-top: 20px;
  font-size: 0.95em;
  color: #444
}

section.item-details .model li {
  padding: 5px 0
}

section.item-details .model span {
  color: #999;
  display: inline-block;
  margin-right: 10px
}

section.item-details .description {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #777;
  font-weight: 300;
  line-height: 1.7em
}

section.item-details .brief {
  font-weight: 300;
  line-height: 1.6em;
  font-weight: 300;
  color: #777;
  margin: 50px 0
}

section.item-details .product-quantity {
  margin-bottom: 10px
}

section.item-details .product-quantity .minus-btn, section.item-details .product-quantity .plus-btn {
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #555;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer
}

section.item-details .product-quantity .minus-btn {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px
}

section.item-details .product-quantity .plus-btn {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px
}

section.item-details .product-quantity .quantity {
  width: 80px;
  height: 35px;
  font-size: 1em;
  font-weight: 300;
  color: #555;
  text-align: center;
  outline: none;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  background: none
}

section.item-details select {
  border-radius: 50px;
  font-size: 0.95em;
  color: #777;
  width: auto;
  border-color: #ccc
}

section.item-details select:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}

section.item-details .CTAs {
  margin-top: 30px
}

section.item-details .CTAs i {
  display: inline-block;
  margin-left: 10px
}

.btn {
  font-weight: 400;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none
  }
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 .2rem rgba(255, 107, 107, 0.25);
  box-shadow: 0 0 0 .2rem rgba(255, 107, 107, 0.25)
}

.btn:active, .btn.active {
  background-image: none
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  /* background-color: #fff; */
  background-color: linear-gradient(-18deg, #000 0%, #ffd900 100%);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .5rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  line-height: 1.1;
  color: inherit
}

h1, .h1 {
  font-size: 4.5rem
}

h2, .h2 {
  font-size: 2.2rem
}

h3, .h3 {
  font-size: 1.75rem
}

h4, .h4 {
  font-size: 1.5rem
}

h5, .h5 {
  font-size: 1.25rem
}

h6, .h6 {
  font-size: 1rem
}

.lead {
  font-size: 1.25rem;
  font-weight: 300
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.1
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.1
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.1
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1)
}

small, .small {
  font-size: 80%;
  font-weight: 400
}

mark, .mark {
  padding: .2em;
  background-color: #fcf8e3
}

.text-primary {
  color: #fede59 !important
}

a.text-primary:hover, a.text-primary:focus {
  color: #ff3838 !important
}

.page-item:first-child .page-link {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem
}

.page-item.active .page-link {
  color: #fff;
  background-color: #fede59;
  border-color: #fede59
}

.page-item.disabled .page-link {
  color: #6c757d;
  background-color: #fff;
  border-color: #dee2e6
}

.page-link {
  padding: .5rem .75rem;
  line-height: 1.25;
  color: #fede59;
  background-color: #fff;
  border: 1px solid #dee2e6
}

.page-link:hover, .page-link:focus {
  color: #ff1f1f;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6
}

.pagination-sm .page-link {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem
}

.carousel img{
  height: 600px;
  margin: auto;
}

@media (max-width: 900px) {
  .carousel img{
    width:auto;
    height:auto;
  }
}

section .item-details .carousel-item{
  align-items: center;
  justify-content: center;
}

.btn-logout{
  color:#ffd900;
}
.btn-logout:hover{
  color: #ff3838;
}